<div class="container">

    <div class="row">

        <form class="col m6 offset-m3 z-depth-1">
            <h3>Iniciar sesión</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name2" type="text" class="validate" name="name" [(ngModel)]="user.name">
                    <label class="active" for="first_name2">Nombre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name2" type="text" class="validate" name="password" [(ngModel)]="user.password">
                    <label class="active" for="first_name2">Contraseña</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="button" name="action" (click)="login()">Ingresar
    <i class="material-icons right">send</i>
  </button>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light blue" type="button" name="action" (click)="addUser()">Registrarse
    <i class="material-icons right">add</i>
  </button>
                </div>
            </div>


        </form>

    </div>

</div>