<nav>

    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li (click)="showStats()"><a>Home</a></li>
            <li (click)="showStats()">Statictics</li>
            <li><a>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" *ngIf="!show">

        <div class="col s12 m6" *ngFor="let item of images">
            <div class="card">
                <div class="card-image">
                    <img [src]="item.url" width="400" height="300">
                    <span class="card-title">{{item.name}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a (click)="like(item)"> <i class="material-icons">thumb_up</i> Me gusta</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="show">
        <div class="col s12">
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>

        <div class="col s12">
            <table>
                <tr>
                    <td *ngFor="let image of images">
                        {{image.name}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let d of doughnutChartData">
                        {{d}}
                    </td>

                </tr>

            </table>

        </div>
    </div>
</div>